 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
     
}

 /* #main{
     width: 100%;
     height: 100%;
      margin: 20px 30px;
     padding: 20px; 
      background-color: antiquewhite;
     background-image: url(https://images.unsplash.com/photo-1689702095123-a20606125fd5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=986&q=80);
     background-size: cover;
}   */


/*absolute  position ************************* /*/
 /* #car1{
    width: 100px;
    height: 120px;
    background-color: red;
    }

#car2{
    position: absolute;
    width: 110px;
    height: 90px;
    background-color: blueviolet;
}    

#car3{
    width: 130px;
    height: 110px;
    background-color: green;
} */ 


/* relative  position ************************* /*/


 /* #box{
    position: relative;
    width: 300px;
    height: 300px;
    background-color: #b93d3d;
}
#chhota{ 
    position: absolute;
    left: 40%;
    width: 100px;
    height: 100px;
    background-color: yellow;
}  */

#box{
     display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 500px;
    background-color: gray;
}

#box1{
    width: 100px;
    height: 100px;
    background-color: red;
}

#box2{
    width: 130px;
    height: 110px;
    background-color: blueviolet;
}

#box3{
    width: 100px;
    height: 100px;
    background-color: yellow;
} 