div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: solid black;
    display: inline-block;
    color: white;
}

#box1{
    position: static;
    
}


#box2{
    position: sticky;
    top: 80px;
    
    
} 

/* #box2{
    position: relative;
    top: 10px;
    
} */

/* #box3{
    position: absolute;
    /* top: 50px; *//*
} */

.mainbox{
    height: 400px;
    width: 600px;
    background-color: yellow;
}