*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    /* background-color: olive; */
    height: 50px;
}
/* .nav{
    display: flex;
    justify-content: center;
    align-items: center;
} */

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: teal;
}

.navbar a{
    text-decoration: none;
    color: white;
    padding: 14px 20px;
    font-size: 18px;
    
}

.div1{
    height: 500px;
    background-color: rgba(255, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.div2{
    height: 500px;
    background-color: rgba(0, 255, 30, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.div3{
    height: 500px;
    background-color: rgba(43, 0, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer{
    height: 100px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}