*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
/* 
 div{
    height: 150px;
    width: 150px;
    background-color: pink;
    border-width: 2px;
    border-style:solid;
    border-color: brown;
    border-radius: 5px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 5px;
    padding-top: 3px;
    margin-top: 50px;
} */
    /*

h1{
    height: 50px;
    width: 150px;
    background-color: aquamarine;
    border-width: 3px;
    border-style: dashed;
    border-color: black;
    text-align: center;
} */

/* div{
    background-color: pink;
    display: inline;
}

button{
    display: block;
} */
 div{
    height: 100px;
    width: 100px;
    margin: 25px;
    padding: 25px;
    display: inline-block;
 }

#div1{
    background-color: blue;

}
#div2{
    background-color: red;
}
#div3{
    background-color: green;
}
/* 
h1{
    color: rgb(51, 51, 4);
} */