*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

 div{
    height: 150px;
    width: 150px;
    background-color: pink;
    border-width: 2px;
    border-style:solid;
    border-color: brown;
    border-radius: 5px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 5px;
    padding-top: 3px;
    margin-top: 50px;
}
    /*

h1{
    height: 50px;
    width: 150px;
    background-color: aquamarine;
    border-width: 3px;
    border-style: dashed;
    border-color: black;
    text-align: center;
} */

