/* *{
    color: pink;
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: red;
}
p{
    color: green;
}

button{
    color: rgb(61, 196, 31);
    background-color: rgb(237, 244, 237);
}

body{
    background-color: rgb(181, 147, 32);
} 

button{
    background-color: green;
} */


    /* <!-- text property --> */
    /* h1{
        text-align: center;
         text-decoration: underline;
        text-decoration: overline;
        text-decoration: line-through; 
        text-decoration:red dotted underline;
    } */
 /* p{
    text-align: center;
 }

a{
    text-decoration: red dotted line-through;
} */

#one{
    font-size: 25px;
}
#three{
    font-size: 10px;
}