*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
}

/* #container{
    background-color: yellow;
    height: 400px;
    width: 600px;
} */

div{
    height: 50px;
    width: 50px;
    display: inline-block;
    height: 50px;
    width: 50px;
    background-color: red;
    border: 2px solid black;
}
/* 

#container{
    width: 800px;
    height: 200px;

    
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    align-items: center;
    justify-content: space-around; 
}

.box1{

    background-color: red;
}
.box2{
  
    background-color: blue;
}
.box3{
    
    background-color: green;
}
.box4{
   
    background-color: black;
}
.box5{
 
    background-color: aqua;
} */



/* @media (width: 600px){
    div{
        background-color: pink;
    }
}

@media (max-width: 400px){
    div{
        background-color: yellow;
    }
}
@media (min-width: 400px){
    div{
        background-color: pink;
    }
}

@media (min-width:200px) and (max-width:300px){
    div{
        background-color: blue;
    }
} 